<h1>Welcome to Cryptos Dinner</h1>

<h3>Perfect place to drink until it raises again.</h3>


<ul class="list-group mb-4">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item ">
      <%= link_to restaurant_path(restaurant) do %> <!-- no need to write restaurant.id RAILS MAGIC in play -->
        <%= restaurant.name %>
      <% end %>
    </li>
  <% end %>
</ul>
